BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
IncludeBlocks: Regroup
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
ReflowComments: true
